<h1><%= @product.name %></h1>

<dl>
    <dt>Preço:</dt>
    <dd><%= number_to_currency @product.price %></dd>
    <dt>Disconto para boleto:</dt>
    <dd><%= number_to_percentage @product.boleto_discount, precision: 1 %></dd>
    <dt>Disconto para pix:</dt>
    <dd><%= number_to_percentage @product.pix_discount, precision: 1 %></dd>
    <dt>Disconto para cartão:</dt>
    <dd><%= number_to_percentage @product.card_discount, precision: 1 %></dd>
    <dt>Token:</dt>
    <dd><%= @product.token %></dd>
</dl>

<div>
    <%= link_to 'Editar produto', edit_user_company_product_path(@product) %>
    <%= link_to 'Voltar', user_company_products_path(@company) %>
</div>