<h1><%= t('.title') %></h1>

<% if @companies.empty? %>
    <h3><%= t('.no_company_available') %></h3>
<% end %>

<% @companies.each do |company| %>
    <h3><%= link_to company.name, [:admin, company] %></h3>
    <p><%= company.financial_adress %></p>
    <p><%= company.financial_email %></p>
<% end %>