<h1><%= @company.name %></h1>

<dl>
    <dt>CNPJ:</dt>
    <dd><%= @company.cnpj %></dd>
    <dt>Endereço de faturamento:</dt>
    <dd><%= @company.financial_adress %></dd>
    <dt>Email de faturamento:</dt>
    <dd><%= @company.financial_email %></dd>
    <dt>Token:</dt>
    <dd><%= @company.token %></dd>
</dl>

<%= link_to t('.edit_company'), edit_admin_company_path(@company) %>
<%= link_to t('.generate_token'), token_generator_admin_company_path(@company), method: :put %>
<%= link_to t('.back'), admin_companies_path %>