<h1><%= t('.title') %></h1>

<dl>
    <dt><%= Charge.human_attribute_name(:final_client_name) %></dt>
    <dd><%= @charge.final_client_name %></dd>
    <dt><%= Charge.human_attribute_name(:final_client_cpf) %></dt>
    <dd><%= @charge.final_client_cpf %></dd>
    <dt><%= Charge.human_attribute_name(:token) %></dt>
    <dd><%= @charge.token %></dd>
    <dt><%= Charge.human_attribute_name(:original_value) %></dt>
    <dd><%= number_to_currency @charge.original_value %></dd>
    <dt><%= Charge.human_attribute_name(:discount_value) %></dt>
    <dd><%= number_to_currency @charge.discount_value %></dd>
    <dt><%= Charge.human_attribute_name(:status) %></dt>
    <dd><%= @charge.status %></dd>
    <dt><%= Charge.human_attribute_name(:company_token) %></dt>
    <dd><%= @charge.company_token %></dd>
    <dt><%= Charge.human_attribute_name(:product_token) %></dt>
    <dd><%= @charge.product_token %></dd>
    <dt><%= Charge.human_attribute_name(:payment_method) %></dt>
    <dd><%= @charge.payment_method %></dd>
</dl>

<% if @charge.pendente? %>
    <%= form_with model: [:admin, @charge] do |form| %>
        <%= form.label :status %>
        <%= form.select :status, [['pendente', :pendente], ['aprovado', :aprovado]] %>
        <%= form.submit t('.update_status_charge') %>
    <% end %>
<% end %>