<h1><%= t('.title') %></h1>

<%= form_with model: [:admin, @payment_method] do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :tax_porcentage %>
    <%= form.number_field :tax_porcentage %>
    <%= form.label :tax_maximum %>
    <%= form.number_field :tax_maximum %>
    <%= form.label :status %>
    <%= form.select :status, [['Ativo', true], ['Inativo', false]] %>
    <%= form.submit t('.edit') %>
<% end %>

<% if @payment_method.errors.any? %>
    <p>Total de erro(s): <%= @payment_method.errors.count %></p>
    <ul>
        <% @payment_method.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
    </ul>
<% end %>

<%= link_to t('.back'), [:admin, @payment_method] %>