<h1>Editar meio de pagamento</h1>

<%= form_with model: [:admin, @payment_method] do |form| %>
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name %>
    <%= form.label :tax_porcentage, 'Taxa de cobrança' %>
    <%= form.number_field :tax_porcentage %>
    <%= form.label :tax_maximum, 'Taxa máxima' %>
    <%= form.number_field :tax_maximum %>
    <%= form.label :status, 'Status' %>
    <%= form.select :status, [['Ativo', true], ['Inativo', false]] %>
    <%= form.submit 'Editar' %>
<% end %>

<% if @payment_method.errors.any? %>
    <p>Total de erro(s): <%= @payment_method.errors.count %></p>
    <ul>
        <% @payment_method.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
    </ul>
<% end %>