<h1><%= @payment_method.name %></h1>

<dl>
    <dt><%= PaymentMethod.human_attribute_name(:tax_porcentage) %></dt>
    <dd><%= number_to_percentage @payment_method.tax_porcentage, precision: 1 %></dd>
    <dt><%= PaymentMethod.human_attribute_name(:tax_maximum) %></dt>
    <dd><%= number_to_currency @payment_method.tax_maximum %></dd>
    <dt><%= PaymentMethod.human_attribute_name(:status) %></dt>
    <dd><%= @payment_method.status ? 'Ativo' : 'Inativo' %></dd>
</dl>

<%= image_tag @payment_method.icon_payment_type %>

<div>
    <%= link_to t('.edit_payment_method'), edit_admin_payment_method_path(@payment_method) %>
    <%= link_to t('.delete_payment_method'), [:admin, @payment_method], method: :delete %>
    <%= link_to t('.back'), admin_payment_methods_path %>
</div>