<h1><%= @payment_method.name %></h1>

<dl>
    <dt>Taxa por cobrança:</dt>
    <dd><%= number_to_percentage @payment_method.tax_porcentage, precision: 1 %></dd>
    <dt>Taxa máxima:</dt>
    <dd><%= number_to_currency @payment_method.tax_maximum %></dd>
    <dt>Status:</dt>
    <dd><%= @payment_method.status ? 'Ativo' : 'Inativo' %></dd>
</dl>


<%= link_to 'Editar meio de pagamento', edit_admin_payment_method_path(@payment_method) %>