<h1>Cadastre sua empresa</h1>

<%= form_with model: [:user, @company] do |form| %>
    <%= form.label :name, 'Razão Social' %>
    <%= form.text_field :name %>
    <%= form.label :cnpj, 'CNPJ' %>
    <%= form.text_field :cnpj %>
    <%= form.label :financial_adress, 'Endereço de faturamento' %>
    <%= form.text_field :financial_adress %>
    <%= form.label :financial_email, 'Email de faturamento' %>
    <%= form.text_field :financial_email %>
    <%= form.submit 'Cadastrar' %>
<% end %>

<% if @company.errors.any? %>
    <p>Total de erro(s): <%= @company.errors.count %></p>
    <ul>
        <% @company.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
    </ul>
<% end %>