<h1><%= @company.name %></h1>

<dl>
    <dt>CNPJ:</dt>
    <dd><%= @company.cnpj %></dd>
    <dt>Endereço de faturamento:</dt>
    <dd><%= @company.financial_adress %></dd>
    <dt>Email de faturamento:</dt>
    <dd><%= @company.financial_email %></dd>
    <dt>Token</dt>
    <dd><%= @company.token %></dd>
</dl>

<% if current_user.company_admin? %>
    <%= link_to 'Gere um novo token', token_generator_user_company_path(@company), method: :put %>
    <%= link_to 'Editar empresa', edit_user_company_path(@company) %>
<% end %>