<h1><%= @company.name %></h1>

<dl>
    <dt><%= Company.human_attribute_name(:cnpj) %></dt>
    <dd><%= @company.cnpj %></dd>
    <dt><%= Company.human_attribute_name(:financial_adress) %></dt>
    <dd><%= @company.financial_adress %></dd>
    <dt><%= Company.human_attribute_name(:financial_email) %></dt>
    <dd><%= @company.financial_email %></dd>
    <dt><%= Company.human_attribute_name(:token) %></dt>
    <dd><%= @company.token %></dd>
</dl>

<% if current_user.company_admin? %>
    <div>
        <%= link_to t('.generate_token'), token_generator_user_company_path(@company), method: :put %>
        <%= link_to t('.edit_company'), edit_user_company_path(@company) %>
    </div>
<% end %>

<div>
    <%= link_to t('.my_products'), user_company_products_path(@company) %>
</div>

<h2><%= t('.title_selected_payment_type') %></h2>

<% if @company.boleto_methods.empty? %>
    <p><%= t('.no_payment_method_boleto_selected') %></p>
<% else %>
    <% @company.boleto_methods.each do |boleto_method| %>
        <div>
            <h3><%= boleto_method.payment_method.name %></h3>
            <p><%= boleto_method.bank_code %></p>
            <p><%= boleto_method.agency_number %></p>
            <p><%= boleto_method.bank_account %></p>
            
            <div>
                <%= link_to t('.edit_payment_method_boleto'), edit_user_payment_method_boleto_method_path(boleto_method) %>
                <%= link_to t('.delete'), user_payment_method_boleto_method_path(boleto_method), method: :delete %>
            </div>
        </div>
    <% end %>
<% end %>

<% if @company.pix_methods.empty? %>
    <p><%= t('.no_payment_method_pix_selected') %></p>
<% else %>
    <% @company.pix_methods.each do |pix_method| %>
        <div>
            <h3><%= pix_method.payment_method.name %></h3>
            <p><%= pix_method.bank_code %></p>
            <p><%= pix_method.key_pix %></p>

            <div>
                <%= link_to t('.edit_payment_method_pix'), edit_user_payment_method_pix_method_path(pix_method) %>
                <%= link_to t('.delete'), user_payment_method_pix_method_path(pix_method), method: :delete %>
            </div>
        </div>
    <% end %>
<% end %>

<% if @company.card_methods.empty? %>
    <p><%= t('.no_payment_method_card_selected') %></p>
<% else %>
    <% @company.card_methods.each do |card_method| %>
        <div>
            <h3><%= card_method.payment_method.name %></h3>
            <p><%= card_method.card_code %></p>

            <div>
                <%= link_to t('.edit_payment_method_card'), edit_user_payment_method_card_method_path(card_method) %>
                <%= link_to t('.delete'), user_payment_method_card_method_path(card_method), method: :delete %>
            </div>
        </div>
    <% end %>
<% end %>